@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Domine:wght@500&display=swap');

:root {
  --dark-gray-color: #345383;
  --ligth-gray-color: #777777;
  --ligth-green: #e5ffe7;
}



@media screen and (min-width: 1060px) {
  
  body {
    background-color: #f5f5f5;
    color: #0f141e;
    font: normal 18px 'Architects Daughter', cursive;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 15px;
    }
  
  .wrapper {
    margin: 20px auto;
    font-family: 'Domine', serif;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
  }
  
  .two-cards {
    display: flex;
    padding: 10px;
  }
  
  aside {
    flex: 1;
    flex-shrink: 1;
    color: var(--dark-gray-color);
    background-color: var(--ligth-green);
    max-width: 700px;
  }
  
  main {
    flex: 2;
    flex-shrink: 1;
    padding: 20px 0px 0px 30px;
    margin-bottom: 0px;
  }
  
  header {
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
  }
  
  header img {
    margin-bottom: 10px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.23) ;
    border-radius: 28px;
    max-width: 100%;
  }
  
  header h1 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  header h2 {
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  
  .content {
    width: fit-content;
  }
  
  .content h3 {
    width: 136px;
    margin: 40px auto 20px;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: var(--dark-gray-color);
  }
  
  .content .contacts h3 {
    margin-top: 0;
    margin-bottom: 0;
    transform: translate(0, -50%);
  }
  
  .content li {
    margin-bottom: 10px;
  }
  
  .contacts li img {
    vertical-align: middle;
    margin-right: 15px;
  }
  
  .contacts li p {
    display: inline;
    vertical-align: middle;
  }
  
  .content :not(.contacts) ul {
    list-style-type: disc;
    margin-left: 30px;
  }
  
  .language-name {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  main .sub-header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  main .about-myself .sub-header {
    margin-top: 0;
  }
  
  .about-myself p {
    margin: 0 10px 10px 45px;
  }
  
  .about-myself p:last-of-type {
    margin-bottom: 0;
  }
  
  main h3 {
    flex: 1;
    vertical-align: middle;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--ligth-gray-color);
    border-bottom: 2px solid var(--ligth-gray-color);
  }
  
  
  main p {
    color: var(--ligth-gray-color);
  }
  
  .education p {
    margin-left: 45px;
  }
  
  .education p strong {
    font-weight: 700;
  }
  
  .courses ul {
    list-style-type: disc;
    margin-left: 45px;
    margin-bottom: 30px;
  }
  
  .courses li {
    margin-bottom: 10px;
    color: var(--ligth-gray-color);
  }
     
  .code-example p {
    margin-left: 45px;
    padding: auto;
  }
  
  pre {
    margin: 20px 20px auto 40px;
    font-family: monospace;
    font-size: 0.9rem;
    background-color: #f5f5f5;
    max-width: 100%;
  }
  
   footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: var(--dark-gray-color);
  }
     
  footer .github-icon {
    margin-right: 10px;
  }
  
  .my-github {
    display: flex;
    align-items: center;
  }

  .my-youtube {
   display: flex;
   align-items: center;
 }

 a {
   color: #e0a80d;
   text-decoration: none;
 }
 
 a:hover {
   color: #ffffff;
   text-decoration: underline;
 }
 
 a:active {
   color: #979899;
 }

details {
  margin-bottom: 40px;
  margin-left: 20px;
}

}




@media screen and (max-width: 1060px) {

  body {
    background-color: #f5f5f5;
    color: #0f141e;
    font: normal 16px 'Architects Daughter', cursive;
    max-width: 100%;
    height: auto;
    margin: auto;
    }
  
  .wrapper {
    margin: 20px auto;
    font-family: 'Domine', serif;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
  }

  .two-cards {
    justify-content: center;
    margin-right: 0px;
  }
  
  main {
    padding: 20px 30px 0px 30px;
    margin-bottom: 0px;
    width: 90%;
    margin: 0px;
  }

  aside {
    color: var(--dark-gray-color);
    background-color: var(--ligth-green);
    width: 100%;
  }
  
  header {
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
  }
  
  header img {
    margin-bottom: 10px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.23) ;
    border-radius: 28px;
    max-width: 100%;
  }
  
  header h1 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  header h2 {
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  
  .content h3 {
    width: 136px;
    margin:  auto 20px;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 0.7em;
    background-color: var(--dark-gray-color);
  }
    
  .content li {
    margin-bottom: 10px;
  }
  
  .contacts li img {
    vertical-align: middle;
    margin-right: 15px;
  }
  
  .contacts li p {
    display: inline;
    vertical-align: middle;
    
  }
  
  .content :not(.contacts) ul {
    list-style-type: disc;
    margin-left: 30px;
  }
  
  .language-name {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  main .sub-header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  main .about-myself .sub-header {
    margin-top: 0;
  }
  
  .about-myself p {
    margin-bottom: 10px;
    margin-left: 45px;
  }
  
  .about-myself p:last-of-type {
    margin-bottom: 0;
  }
  
  main h3 {
    flex: 1;
    vertical-align: middle;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--ligth-gray-color);
    border-bottom: 2px solid var(--ligth-gray-color);
  }
  
  
  main p {
    color: var(--ligth-gray-color);
  }


  .education p {
    margin-left: 45px;
  }
  
  .education p strong {
    font-weight: 700;
  }
  
  .courses ul {
    list-style-type: disc;
    margin-left: 45px;
    margin-bottom: 30px;
  }
  
  .courses li {
    margin-bottom: 10px;
    color: var(--ligth-gray-color);
  }
     
  .code-example p {
    margin-left: 45px;
    padding: auto;
  }
  
  pre {
    margin: 20px 20px auto 40px;
    font-family: monospace;
    font-size: 0.9rem;
    background-color: #f5f5f5;
  }
  
   footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: var(--dark-gray-color);
  }
     
  footer .github-icon {
    margin-right: 10px;
  }
  
  .my-github {
    display: flex;
    align-items: center;
  }

  .my-youtube {
   display: flex;
   align-items: center;
 }

 a {
   color: #e0a80d;
   text-decoration: none;
 }
 
 a:hover {
   color: #ffffff;
   text-decoration: underline;
 }
 
 a:active {
   color: #979899;
 }

details {
  margin-bottom: 40px;
  margin-left: 20px;
}

}